@font-face {
    font-family: "SEGOEUI";
    font-display: swap;
    src: url("../fonts/word/SEGOEUI.TTF") format("truetype");
}
@font-face {
    font-family: "iCiel";
    font-display: swap;
    src: url("../fonts/word/Fester\ Bold.otf") format("truetype");
}
@font-face {
    font-family: "UTM";
    font-display: swap;
    src: url("../fonts/word/UTM-Beautiful-Caps.ttf") format("truetype");
}
