@mixin maxWidth($q) {
   @media screen and (max-width: $q) {
       @content;
   }
}
@mixin minWidth($q) {
   @media screen and (min-width: $q) {
       @content;
   }
}
@mixin fz-lg{
   font-size: 36px;
   line-height: 44px;
   @include maxWidth(768px){
      font-size: 30px;
   }
   @include maxWidth(576px){
      font-size: 26px;
  }
}
@mixin fz-sm{
   font-size: 30px;
   line-height: 36.87px;
   @include maxWidth(768px){
      font-size: 24px;
  }
}
@mixin fz-mb {
   font-size: 14px;
}
@mixin text-truncate($q) {
   display:-webkit-box;
   -webkit-line-clamp:$q;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   word-break: break-word;
}