@mixin fz-lg{
   font-size: 36px;
   line-height: 44px;
}
@mixin fz-sm{
   font-size: 30px;
   line-height: 36.87px;
}
@mixin fz-mb {
   font-size: 14px;
}
@mixin text-truncate($q) {
   display:-webkit-box;
   -webkit-line-clamp:$q;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   word-break: break-word;
}